body{
  background-color: lightblue;
}

.App {
  text-align: center;
}

.title{
  color:darkslategray;
  font-size: 3.5rem;
}

.notes{
  background-color: lightseagreen;
  border: 5px solid cyan;
  margin: 15px 20px;
}
